# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Gabey\Google Drive\Online Courses\CS 362 - Software Engineering II\Homework\hw1_blackbox-testing_CS493\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
